@import _root_.com.chen.guo.models.valuation.AnalyzeRequest
@import _root_.com.chen.guo.util.fetcher.AnalyzeDataSet
@import _root_.com.chen.guo.views.html.main
@import _root_.com.chen.guo.views.ViewUtil
@import helper._

@import scala.collection.JavaConverters._

@(requestForm: Form[AnalyzeRequest], request: AnalyzeRequest, dataSet: AnalyzeDataSet)(implicit messages: Messages)

@main("valuation") {
    <div class="page-header">
        <h1>Valuation</h1>
    </div>

    <div class="form-group">
    @form(com.chen.guo.controllers.valuation.routes.ValuationController.formPost) {
        @inputText(requestForm("name"), 'placeholder -> {
            if(request == AnalyzeRequest.emptyRequest)
                "Code/Name"
            else request.name
        }
            , '_label -> ""
        )
        <input type="submit" value="Analyze">
        }
    </div>

    <h2>
    @request.name
    </h2>
    <div>
        <a href=@dataSet.get_sourceUrl() target="_blank">data source</a>
    </div>

    <div class="table-responsive" style="float: left;
        margin: 0px 5px;">
        <p>
            Net Income (Millions Yuan)
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th>
                </tr>
            </thead>

            <tbody>
            @for(yearMap <- dataSet.get_netIncomeMap().asScala) {
                <tr>
                    <td>@yearMap._1</td>
                    @for(monthVal <- yearMap._2.asScala) {
                        <td>@ViewUtil.displayAmountsInMillions(monthVal._2)</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="table-responsive" style="float: left;
        margin: 0px 5px;">
        <p>
            Net Income Growth
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th>
                </tr>
            </thead>

            <tbody>
            @for(yearMap <- dataSet.get_netIncomeGrowthMap().asScala) {
                <tr>
                    <td>@yearMap._1</td>
                    @for(monthVal <- yearMap._2.asScala) {
                        <td>@ViewUtil.displayPercentages(monthVal._2)</td>
                    }
                </tr>
            }
            </tbody>
        </table>
        <p>
            Last 8-Quarter Average: @ViewUtil.calculateGeoAverage(dataSet.get_netIncomeGrowthMap())
        </p>
    </div>
}