@import _root_.com.chen.guo.models.valuation.AnalyzeRequest
@import _root_.com.chen.guo.util.fetcher.AnalyzeDataSet
@import _root_.com.chen.guo.views.ViewUtil
@import _root_.com.chen.guo.views.html.main
@import _root_.com.chen.guo.views.html.valuation.quoteColor
@import com.chen.guo.crawler.source.cfi.task.CfiScrapingQuoteTask
@import helper._

@import scala.collection.JavaConverters._

@(requestForm: Form[AnalyzeRequest], request: AnalyzeRequest, dataSet: AnalyzeDataSet)(implicit messages: Messages)



@displayTable(dataSet: java.util.TreeMap[Integer, java.util.TreeMap[String, java.lang.Double]], displayMethod: (java.lang.Double) => String) = {
@if(!dataSet.isEmpty) {
    <tr>
        <td>@dataSet.firstEntry().getKey</td>
        @for(i <- 0 until (4 - dataSet.firstEntry().getValue.size())) {
            <td></td>
        }
        @for(col <- dataSet.firstEntry().getValue.asScala) {
            <td>@displayMethod(col._2)</td>
        }
    </tr>

    @for(yearMap <- dataSet.tailMap(dataSet.firstEntry().getKey, false).asScala) {
        <tr>
            <td>@yearMap._1</td>
            @for(monthVal <- yearMap._2.asScala) {
                <td>@displayMethod(monthVal._2)</td>
            }
        </tr>
    }
}
}

@main("valuation") {
    <div class="page-header">
        <h1>Valuation</h1>
    </div>

    <div class="form-group">
    @form(com.chen.guo.controllers.valuation.routes.ValuationController.formPost) {
        @inputText(requestForm("name"), 'placeholder -> {
            if(request == AnalyzeRequest.emptyRequest)
                "Code/Name"
            else request.name
        }
            , '_label -> ""
        )
        <input type="submit" value="Analyze">
        }
    </div>

    <h2>
    @request.name
    </h2>
    <h3>
    @defining(dataSet.get_quoteMap().get(CfiScrapingQuoteTask.LAST_QUOTE)
            + " " + dataSet.get_quoteMap().get(CfiScrapingQuoteTask.CHG_VALUE)
            + " " + dataSet.get_quoteMap().get(CfiScrapingQuoteTask.CHG_PERCENTAGE)) { quoteString =>
        @if(dataSet.get_quoteMap().get(CfiScrapingQuoteTask.CHG_VALUE) != null && dataSet.get_quoteMap().get(CfiScrapingQuoteTask.CHG_VALUE).startsWith("-")) {
            @quoteColor("down") { color =>
                <span style="color:@color">@quoteString</span>
            }
        } else {
            @quoteColor("up") { color =>
                <span style="color:@color">@quoteString</span>
            }
        }
    }
    </h3>
    <div>
        <a href=@dataSet.get_sourceUrl() target="_blank">data source</a>
    </div>

    <div class="table-responsive" style="float: left;
        margin: 0px 5px;">
        <h4>
            Net Income (Millions Yuan)
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th>
                </tr>
            </thead>
            <tbody>
            @displayTable(dataSet.get_netIncomeMap(), ViewUtil.displayAmountsInMillions)
            </tbody>
        </table>
    </div>

    <div class="table-responsive" style="float: left;
        margin: 0px 5px;">
        <h4>
            Net Income Growth
        </h4>
        <p>
            Calculated as a trailing 4-quarters growth percentage compared to last year.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th>
                </tr>
            </thead>

            <tbody>
            @displayTable(dataSet.get_netIncomeGrowthMap(), ViewUtil.displayPercentages)
            </tbody>
        </table>
        <p>
            Last 8-Quarter Average: @ViewUtil.calculateGeoAverage(dataSet.get_netIncomeGrowthMap())
        </p>
    </div>
}