@import _root_.com.chen.guo.models.valuation.AnalyzeRequest
@import _root_.com.chen.guo.views.html.main
@import helper._
@import java.lang.Double
@import java.util

@(requestForm: Form[AnalyzeRequest], request: AnalyzeRequest, result: util.TreeMap[Integer, Double])(implicit messages: Messages)

@main("valuation") {
    <div class="page-header">
        <h1>Valuation</h1>
    </div>

    <div class="form-group">
    @form(com.chen.guo.controllers.valuation.routes.ValuationController.formPost) {
        @inputText(requestForm("name"), 'placeholder -> {
            if(request == AnalyzeRequest.emptyRequest)
                "Code/Name"
            else request.name
        }
            , '_label -> ""
        )
        <input type="submit" value="Analyze">
        }
    </div>

    <p>
        @request.name
        @result
    </p>
}