@import _root_.com.chen.guo.models.learn.Customer
@import _root_.com.chen.guo.models.learn.Order
@import _root_.com.chen.guo.views.html.main

@(customer: Customer, orders: List[Order])(sidebar: Html)(content: Html)

@main("plaintext") {

    <div class="jumbotron">
        <h1>jumbotron</h1>
        <p>Put something here</p>
    </div>

    <div class="page-header">
        <h1>Welcome @customer.name!</h1>
    </div>

    <ul>
    @for(order <- orders) {
        <li>@order.title</li>
    }
    </ul>
    <section class="sidebar">@sidebar</section>
    <section class="content">@content</section>
}